<%-include('./header.ejs')%>

    <br>
    <div class="container mt-5 mb-5">
        <h1 class="text-center a mt-5 mb-5" style="color: goldenrod;">about page</h1>
        <div>
            <p class="e" style="color: chocolate;">We are a one-stop destination for all digital solution, be it website designing,web
                development, digital
                marketing, SEO, mobile apps and full maintenance and compliance services for Government and Commercial
                facilities both large and small.. Our elegant group of Developers provide their innovation who transform
                your idea into an amazing website Design or Mobile App Development while keeping every custom project
                unique. We are part of this IT industry since 2018, we not only developed products and websites but also
                provides internship and trainning to students and make them capable to work in this It software
                industry, our internship and trainning program is totally based on hand to hand pratical with live
                projects. Our team of IT professionals certified professionals services Dental Offices, Medical Offices,
                Restaurants, Bars and all types of businesses throughout the Lowcountry and the world. Our team of IT
                professionals certified professionals services Hosptials, Colleges, Research Institutes, Schools,
                Restaurants, Bars and all types of businesses throughout the Lowcountry and the world.</p>
        </div>

    </div><!--container end -->
    
        

    <br><br><br>

    <%-include('./footer.ejs')%>