<%-include('./header.ejs')%>

    <br>
    <div class="container mt-5 mb-5">
        
        <h1 class="text-center a mt-5 mb-5" style="color: goldenrod;">about page</h1>
        <div>
            <p class="e" style="color: chocolate;">Anyone can connect with their audience through blogging and enjoy the
                myriad benefits that blogging provides: organic traffic from search engines, promotional content for
                social media, and recognition from a new audience you haven’t tapped into yet.

                If you’ve heard about blogging but are a beginner and don’t know where to start, the time for excuses is
                over. Not only can you create an SEO-friendly blog, but I’ll cover how to write and manage your
                business's blog as well as provide helpful templates to simplify your blogging efforts.

                A blog post is any article, news piece, or guide that's published in the blog section of a website. A
                blog post typically covers a specific topic or query, is educational in nature, ranges from 600 to
                2,000+ words, and contains other media types such as images, videos, infographics, and interactive
                charts.

                Blog posts allow you and your business to publish insights, thoughts, and stories on your website about
                any topic. They can help you boost brand awareness, credibility, conversions, and revenue. Most
                importantly, they can help you drive traffic to your website.
            </p>
        </div>

    </div><!--container end -->



    <br><br><br>

    <%-include('./footer.ejs')%>