<%-include('./header.ejs')%>

    <br>
    <div class="container mt-5 mb-5">
        <h1 class="text-center a mt-5 mb-5">about page</h1>
        <div>
            <p class="e">We are a one-stop destination for all digital solution, be it website designing,web
                development, digital
                marketing, SEO, mobile apps and full maintenance and compliance services for Government and Commercial
                facilities both large and small.. Our elegant group of Developers provide their innovation who transform
                your idea into an amazing website Design or Mobile App Development while keeping every custom project
                unique. We are part of this IT industry since 2018, we not only developed products and websites but also
                provides internship and trainning to students and make them capable to work in this It software
                industry, our internship and trainning program is totally based on hand to hand pratical with live
                projects. Our team of IT professionals certified professionals services Dental Offices, Medical Offices,
                Restaurants, Bars and all types of businesses throughout the Lowcountry and the world. Our team of IT
                professionals certified professionals services Hosptials, Colleges, Research Institutes, Schools,
                Restaurants, Bars and all types of businesses throughout the Lowcountry and the world.</p>
        </div>

    </div><!--container end -->
    <br>
    <div class="container mt-5 mb-5">
        <h1 class="text-center aboutd">THE MAN <b style="color: darkorange;">BEHIND THE blogexp..</b></h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow mt-4">
                    <img src="image/WhatsApp Image 2024-01-28 at 12.11.30_f04f7151.jpg" alt="">
                </div>
            </div>
            <div class=" col-md-8">
                <p class="aboutdd">With over 30 restaurants in 23 years under his belt, the prolific restaurateur
                    Priyank
                    Sukhija has
                    become somewhat of a legend in the industry, starting his journey at a mere age of 19. Priyank was
                    the first in his family to venture into business, hailing from a family of lawyers, going on to
                    create an empire in F&B. Following his heart and tongue through his F&B career, Priyank has
                    successfully created some of the most talked-about brands in the industry - Diablo, Lord of the
                    Drinks, Plum by Bent Chair, Lazeez Affaire, Tamasha, The Flying Saucer Cafe, and many more.</p>
            </div>
        </div><!--row end-->
    </div><!--container  end-->

    <br><br><br>

    <%-include('./footer.ejs')%>