<%-include('./header.ejs')%>

<br><br>

<div class="container mt-3">
    <h1 class="text-center a">BLOG LIST</h1>
    <div class="row">
        <% b.forEach((item)=>{ %>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="<%= item.image.url %>"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">Abhishek, <span>6/11/2024</span></p>
                <div class="card-body">
                    <h3>Hello friend</h3>
                    <p>PLZ create your blog</p>
                    <a href="/details/<%=item.id%> " class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

    <% }) %>
    </div><!--row end-->
</div><!--container end-->
<br><br>

<%-include('./footer.ejs')%>