<%-include('./header.ejs')%>

<br><br>

<div class="container mb-5">
    <h1 class="text-center a mt-5 mb-5">CONTACT US</h1>
    <div class="row">
        <div class="col-md-6 mt-4 ">
            <h4 class="mt-4 mb-4 ">SEND US MESSAGE</h4>
            <form action="">
                <div class="mb-3 mt-4" style="font-weight: 100;">
                    <input type="text" class="form-control" placeholder="name*">
                </div>

                <div class="mb-3 mt-4">
                    <input type="email" class="form-control" placeholder="email*">
                </div>

                <div class="mb-3 mt-4">
                    <input type="number" class="form-control" placeholder="phone*">
                </div>

                <div class="mb-3 mt-4">
                    <input type="message" class="form-control" placeholder="message*">
                </div>
                <button class="btn btn-warning btn-lg text-light">submit</button>
            </form>
        </div>
        <div class="col-md-5 mt-4 ms-1 ">
            <h2 class="mt-4 mb-4 ">CONTACT INFO</h2>
            <h6 style="color: darkorange;">Address</h6>
            <p>shiv nagar, thatipur, morar, gwalior (M.P.) 474011</p>
            <h6 style="color: darkorange;">For Enquiry</h6>
            <p>MOBILE: <b style="color: darkorange;">+91 9685344304</b></p>
            <p>EMAIL: <b style="color: darkorange;">sannisingh432@gmail.com</b></p>
            <h6 style="color: darkorange;">For HR Enquiry</h6>
            <p>MOBILE: <b style="color: darkorange;">+91 9685344304</b></p>
            <p>EMAIL: <b style="color: darkorange;">hr@pninfoys.in</b></p>
            <h6 style="color: darkorange;">For Other Enquiry</h6>
            <p>MOBILE: <b style="color: darkorange;">+91 9685344304</b></p>
            <p>EMAIL: <b style="color: darkorange;">Other@pninfoys.in</b></p>
        </div>
    </div> <!--row end-->
</div> <!--container end-->

<br><br><br><br>

<%-include('./footer.ejs')%>