<footer><!--footer start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 text-center">
                <a href="">
                    <img src="/image/logo123.png" alt="" style="margin-top: 30px; width: 70%;">
                </a>
                <br> <br>
            </div>
            <div class="col-md-7">
                <h2 class="ml-1"><SPan style="color: #ffad00;">CONTACT </SPan>US</h2>
                <p>
                    To discover your audience, ask questions like: Who are they? Are they like me, or do I know someone
                    like them? What do they want to know about? What will resonate with them?
                </p><br>
                <div class="row"><!--row div start-->
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;">ADDRESS</strong>
                            <br>
                            City Center gwalior (M.P.)
                        </span>
                    </div>
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;">ENQUIRY</strong>
                            <br>
                            mobile: <a href="tel:09893206758">
                                <b>+91 6269471458</b>
                            </a>
                            <br>
                            Email: <a href="patsariya.abhi@gmail.com">
                                <b>soravrathor786@gmail.com</b>
                            </a>
                        </span>
                    </div>
                </div><!--row end-->
                <br><br>
                <div class="row">
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;"> HR ENQUIRY</strong>
                            <br>
                            mobile: <a href="tel:09685344304">
                                <b>+91 9685344304</b>
                            </a>
                            <br>
                            Email: <a href="hr@pninfoys.in">
                                <b>hr@pninfoys.in</b>
                            </a>
                        </span>
                    </div>
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;"> OTHER ENQUIRY</strong>
                            <br>
                            Email: <a href="Other@pninfoys.in">
                                <b>Other@pninfoys.in</b>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div><!--row end-->
    </div><!--container-fluid end-->
</footer><!--footer end-->

</body>

</html>