
<footer><!--footer start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 text-center">
                <a href="">
                    <img src="/image/logo123.png" alt="" style="margin-top: 30px; width: 70%;">
                </a>
                <br> <br>
            </div>
            <div class="col-md-7">
                <h2 class="ml-1"><SPan style="color: #ffad00;">CONTACT </SPan>US</h2>
                <p>We're a team focusing on redefining the way the hospitality industry works by bringing in concept
                    based restaurants across India. We are truly committed to catering to the ever-changing
                    cosmopolitan taste of the customer and revolutioning the F & B industry!

                </p><br>
                <div class="row"><!--row div start-->
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;">ADDRESS</strong>
                            <br>
                            suresh nagar thatipur morar gwalior (M.P.)
                        </span>
                    </div>
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;">ENQUIRY</strong>
                            <br>
                            mobile: <a href="tel:09893206758">
                                <b>+91 9893206758</b>
                            </a>
                            <br>
                            Email: <a href="patsariya.abhi@gmail.com">
                                <b>patsariya.abhi@gmail.com</b>
                            </a>
                        </span>
                    </div>
                </div><!--row end-->
                <br><br>
                <div class="row">
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;"> HR ENQUIRY</strong>
                            <br>
                            mobile: <a href="tel:09685344304">
                                <b>+91 9685344304</b>
                            </a>
                            <br>
                            Email: <a href="hr@pninfoys.in">
                                <b>hr@pninfoys.in</b>
                            </a>
                        </span>
                    </div>
                    <div class="col-md-6 foot-add">
                        <span>
                            <strong style="color: #ffad00;"> OTHER ENQUIRY</strong>
                            <br>
                            Email: <a href="Other@pninfoys.in">
                                <b>Other@pninfoys.in</b>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div><!--row end-->
    </div><!--container-fluid end-->
</footer><!--footer end-->

</body>

</html>